/* =========CUSTOM STYLES========== */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

a,
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #00add8;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    /* top, left/right, bottom */
    margin: 1em 0 0.5em;
}

/* Modular Scale */
h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

p {
    margin: 1em 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/* ========MOBILE VIEW========= */

/* ---------------header--------------- */

.mobile-logo {
    max-width: 150px;
}

.desktop-logo {
    display: none;
}

.banner {
    height: 600px;
    background: grey url(./images/mobile-banner.jpg) no-repeat center bottom;
    background-size: cover;
}

.banner h1 {
    margin: 0;
    padding-top: 250px;
    text-transform: uppercase;
    text-align: center;

}

/* -----------Navigation------------ */

.nav-list li {
    border-bottom: 1px solid grey;
    text-align: center;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.nav-link a:hover,
.nav-link a:focus,
.nav-link a.current {
    background-color: #00add8;
    color: inherit;
}

/* ---------------Mobile app section------------------*/

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.btn:hover,
.btn:focus {
    background-color: #00add8;
    color: inherit;
}

/* ------------Actions Section-------------- */

.actions-list {
    display: flex;
    flex-flow: row wrap;
}

.actions-list li {
    max-width: 50%;
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
}

/* ------------Footer Styles------------- */
.site-footer {
    border-top: 2px solid #00add8;
    margin-top: 20px;
    padding: 20px 0;
}

.site-footer .copy {
    text-align: right;
}

/* =========DESKTOP VIEW========= */

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    /* ------------Header------------ */
    .mobile-logo {
        display: none;
    }

    .desktop-logo {
        display: inline-block;
        max-width: 300px;
    }

    .banner {
        background-image: url("./images/desktop-banner.jpg");
    }

    .banner h1 {
        color: white;
    }

    /* -----------Navigation------------ */

    .nav-list {
        display: flex;
    }

    .nav-list li {
        flex: 1;
        border: none;
        border-right: 1px solid grey;
    }

    .nav-list li:last-child {
        border: none;
    }

    /* ----------App section--------- */
    .app img {
        width: 40%;
        float: left;
        margin-right: 1em;
    }

    .app .btn {
        float: right;
    }

}

/* ======= DESKTOP STYLES - 800px ======= */
@media screen and (min-width: 800px) {

    /* ------ Actions Section------- */
    .actions-list li {
        max-width: 20%;
    }
}