/* =========CUSTOM STYLES========== */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

a,
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #00add8;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    /* top, left/right, bottom */
    margin: 1em 0 0.5em;
}

/* Modular Scale */
h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

p {
    margin: 1em 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/* ========MOBILE VIEW========= */

/* --------------HEADER-------------- */

.mobile-logo {
    max-width: 150px;
}

.desktop-logo {
    display: none;
}

.banner {
    height: 600px;
    background: grey url(./images/mobile-banner.jpg) no-repeat center bottom;
    background-size: cover;
}

.banner h1 {
    margin: 0;
    padding-top: 250px;
    text-transform: uppercase;
    text-align: center;

}

/* -----------NAVIGATION------------ */

.nav-list li {
    border-bottom: 1px solid grey;
    text-align: center;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.nav-link a:hover,
.nav-link a:focus,
.nav-link a.current {
    background-color: #00add8;
    color: inherit;
}

/* ============= HOME PAGE =================== */

/* ---------------MOBILE APP SECTION------------------*/

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.btn:hover,
.btn:focus {
    background-color: #00add8;
    color: inherit;
}

/* ------------ACTIONS SECTION-------------- */

.actions-list {
    display: flex;
    flex-flow: row wrap;
}

.actions-list li {
    max-width: 50%;
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
}

/* ------------FOOTER STYLES------------- */
.site-footer {
    border-top: 2px solid #00add8;
    margin-top: 20px;
    padding: 20px 20px;
}

.site-footer .copy {
    text-align: right;
}


/* =============== CLIMATE ACTION PAGE ================= */

/* -------CARD SECTION-------*/
.card {
    border: 1px solid #00aad8;
    margin-bottom: 1em;
    border-radius: 4px;
}

.card .info {
    padding: 1em;
}

.card .info h3 {
    margin-top: 0;
}

/* -------NEWS SECTION------- */

.news {
    margin-top: 3em;
    border-top: 2px solid #00aad8;
}





/* =========DESKTOP VIEW========= */

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    /* ------------HEADER------------ */
    .mobile-logo {
        display: none;
    }

    .desktop-logo {
        display: inline-block;
        max-width: 300px;
    }

    .banner {
        background-image: url("./images/desktop-banner.jpg");
    }

    .banner h1 {
        color: white;
    }

    /* -----------NAVIGATION------------ */

    .nav-list {
        display: flex;
    }

    .nav-list li {
        flex: 1;
        border: none;
        border-right: 1px solid grey;
    }

    .nav-list li:last-child {
        border: none;
    }

    /* ----------MOBILE APP SECTION--------- */
    .app img {
        width: 40%;
        float: left;
        margin-right: 1em;
    }

    .app .btn {
        float: right;
    }

}

/* ======= DESKTOP STYLES - 800px ======= */
@media screen and (min-width: 800px) {

    /* ------ ACTIONS SECTION------- */
    .actions-list li {
        max-width: 20%;
    }

    /* ======== CLIMATE ACTION ========= */
    /* ------ CARD SECTION ------ */
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
    }

    /* ------ NEWS SECTION ------ */
    .news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 1em;
        grid-template-areas:
            "head head"
            "left right1"
            "left right2"
        ;
    }

    .news h2 {
        grid-area: head;
    }

    .news .left {
        grid-area: left;
    }

    .news .right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }

    .news .right img {
        grid-row: 1 / 3;
    }

    .news .right h3 {
        font-size: 1.5em;
        margin-top: 0;
    }
}