/* ==CSS STYLING */

body {
    font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
p {
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    color: #03256C;
}

h3 {
    font-weight: 600;
}

/* =NAVIGATION */

.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    background-color: #FF715B !important;
}

.navbar-brand {
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 	1.25rem;
}

.nav-link:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

/* .nav-link:active {
    color: #fff689;
} */

.navbar-brand,
.nav-link {
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .navbar-expand-sm.navbar-nav.nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }
}


/* HOME PAGE */

.homepage {
    background-image: url('./img/images/home/nautical-designs-illustrations-2.png');
    background-size: cover;
    max-width: 100%;
    height: auto;
}
 
.jumbotron {
    padding: 4rem 2rem;
    background-color: white;
    margin: 5rem;
    opacity: 0.8;
}

/* ABOUT */

.row>div {
    margin: 0.9375rem;
}

/* .mission-section p:nth-child(1) {
    font-style: italic;
} */

.btn.btn-outline-secondary {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


/* PORTFOLIO */

/* Added some space between images elements within the column containers to */

.masonry-container img {
    margin-bottom: 20px;
}

.masonry-container img:hover {
    animation-name: jump;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes jump {
    50%{ transform: translate(0, -10px); }
}

/* SERVICES */




/* CONTACT */

/* .contact {
    background-image: none;
} */

/* I integrated a background image for my contact page in order to fill some of the white space without making the overall layout look busy */
/* Background image will appear at the Tablet breakpoint (768px) */

.contact {
    background-image: url('./img/images/contact/illustrations-for-nautical-designs.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.input-fields {
    opacity: 0.9;
}

/* Added an offset rule in order to position my contact form to the right as it appears in my design mockup */
.row.offset-3 {
    margin: 0 !important;
}

.display-4.text-center-sm,
.display-5.text-center-sm {
    color: #FF715B;    
}

/* Implemented custom colours for the button and hover state for ease of user navigation */
.btn.btn-light {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #03256C;
    color: white;
}

.btn.btn-light:hover {
    background-color: #FF715B;
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
    
}

/* =FOOTER */

/* Changed Bootstrap background colour to a custom canary yellow to keep with colour palette in mockup */
.bg-warning {
    background-color: #fff689 !important;
}

.social-media i {
    padding: 0.2rem;
}

.fa.fa-facebook-square.fa-3x,
.fa.fa-twitter-square.fa-3x,
.fa.fa-instagram.fa-3x {
    color: #03256C;
}

